.aboutus-desc {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 25px 0;
  margin: 0 75px;
}

.aboutus-logo,
.aboutus-content {
  margin: 0 25px;
}

.aboutus-content {
  padding-left: 25px;
  border-left: 1px solid #d8d8d8;
  text-align: justify;
}

.aboutus-content p {
  line-height: 26px;
  font-size: 18px;
}

i {
  color: var(--clr-font-green-primary);
}

.aboutus-team {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  flex-direction: column;
}

.team-title {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  color: var(--clr-dark-green);
  margin-bottom: 25px;
}

.team-container {
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
}

.team-pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.team-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 25px 0;
  box-shadow: 1px 1px 12px rgb(172, 172, 172);
}

.team-circle img {
  width: auto;
  height: 100%;
}

.team-name,
.team-nim,
.team-ig {
  line-height: 20px;
  color: var(--clr-dark-green) !important;
}

.team-name {
  font-weight: 600;
}

@media (max-width: 768px) {
  .aboutus-desc {
    padding: 25px 0;
    flex-direction: column;
    margin: 0;
  }
  .aboutus-content {
    border: 0;
    padding: 0;
  }
  .team-container {
    flex-direction: column;
  }
  .team-pic {
    margin: 15px 0;
  }
}
